<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="../../assets/landing_img/80f175fb3a268fc594148204ce134d8a.webp" alt="">
    <img src="../../assets/landing_img/Blue Crepe Satin.webp" alt="">
    <img src="../../assets/landing_img/c67d2c0f89eb944d58fc9fef062ece06.webp" alt="">
    <img src="../../assets/landing_img/Chiffon Lace Border Work Saree.webp" alt="">
    <img src="../../assets/landing_img/kurtis sandal.webp" alt="">
    <img src="../../assets/landing_img/New pure chanderi batik saree with designer blouse..webp" alt="">
    <img src="../../assets/landing_img/Peach checked linen saree.webp" alt="">
    <img src="../../assets/landing_img/set topssalwar.webp" alt="">


.
</body>
</html>